.msg-box {
  border: 1px solid #eee;
  padding: 12px;
  border-radius: 5px;
}

.msg-box::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 3px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  }

.msg-box::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 5px;
  background-color: #1677ff;
  background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
}
.msg-box::-webkit-scrollbar-track {
  /* 滚动条里面轨道 */
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #ededed;
  border-radius: 3px;
}

.msg-box .msg-to {
  background-color: rgb(40, 167, 69);
  text-align: right;
  border-radius: 5px;
  /* border: 1px solid #eee; */
  padding: 5px 12px 5px 12px;
  margin-top: 5px;
  cursor: pointer;
  float: right;
  max-width: 80%;
}

.msg-box p {
  clear: both;
}

.msg-box .msg-from {
  background-color: #eee;
  text-align: left;
  border-radius: 5px;
  /* border: 1px solid #eee; */
  padding: 5px 12px 5px 12px;
  margin-top: 5px;
  cursor: pointer;
  float: left;
  max-width: 80%;
}

.msg-to span {
  color:#eee;
  font-size: 12px;
  margin-bottom: 12px;
}

.msg-from span {
  color:#81868c;
  font-size: 12px;
  margin-bottom: 12px;
}

.msg-input {
  margin-top: 12px;
  /* border: 1px solid #eee; */
  border-radius: 5px;
  min-height: 200px;
}