.appstore {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: flex-start; /* 处理数据太少 行间问题 */
}

.app {
  width: 168px;
  height: 64px;
  border: 1px solid #424c50;
  cursor: pointer;
  margin: 5px;
  color: #000;
  text-align: center;
  padding-top:20px;
  opacity: 0.9;
  border-radius: 4px;
}

.appstore::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 3px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  }

.appstore::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 5px;
  background-color: #1677ff;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.appstore::-webkit-scrollbar-track {
  /* 滚动条里面轨道 */
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #ededed;
  border-radius: 3px;
}